@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/Avenir/Avenir-Light-07.ttf");
}
@font-face {
  font-family: "AvenirRoman";
  src: url("../fonts/Avenir/Avenir-Roman-12.ttf");
}
@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/Avenir/Avenir-Book-01.ttf");
}
@font-face {
  font-family: "AvenirMedium";
  src: url("../fonts/Avenir/Avenir-Medium-09.ttf");
}
@font-face {
  font-family: "AvenirHeavy";
  src: url("../fonts/Avenir/Avenir-Heavy-05.ttf");
}
@font-face {
  font-family: "Valencia";
  src: url("../fonts/Valencia/Valencia.ttf");
}
.home {
  height: 100%;
}

.introduction {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.introduction__name {
  font-family: "Valencia", serif;
}
@media screen and (min-width: 768px) {
  .introduction__name {
    font-size: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__name {
    font-size: 140px;
  }
}
@media screen and (min-width: 1440px) {
  .introduction__name {
    font-size: 150px;
  }
}
@media screen and (min-width: 2560px) {
  .introduction__name {
    font-size: 200px;
  }
}
.introduction__info {
  font-family: "Avenir", "Helvetica", "Ariel", sans-serif;
}
@media screen and (min-width: 768px) {
  .introduction__info {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__info {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .introduction__info {
    font-size: 50px;
  }
}
@media screen and (min-width: 2560px) {
  .introduction__info {
    font-size: 60px;
  }
}
.introduction__item {
  position: relative;
  z-index: 1;
}

.hide {
  background-color: white;
  overflow-y: clip;
}
.hide span {
  display: inline-block;
  transform: translateY(100%);
}

.about {
  height: 50vh;
  width: 100%;
  padding-top: 5%;
  position: relative;
  overflow: hidden;
}
.about__description {
  align-items: center;
  text-align: left;
  margin-left: 30%;
  margin-right: 5%;
  font-weight: 300;
  font-size: 70px;
}

.about__title,
.skills__title,
.contacts__title {
  transition: transform 0.7s ease-out;
  font-family: "AvenirHeavy", sans-serif;
  position: absolute;
  color: #eee;
  top: 5%;
  width: 100%;
  text-align: center;
  left: -100%;
  white-space: nowrap;
  z-index: -1;
  font-size: 180px;
}
@media screen and (min-width: 1024px) {
  .about__title,
.skills__title,
.contacts__title {
    font-size: 180px;
  }
}
@media screen and (min-width: 1440px) {
  .about__title,
.skills__title,
.contacts__title {
    font-size: 200px;
  }
}
@media screen and (min-width: 2560px) {
  .about__title,
.skills__title,
.contacts__title {
    font-size: 350px;
  }
}

.skills {
  position: relative;
  padding-top: 15%;
  overflow: hidden;
}

.about__description,
.skills__description {
  font-size: 30px;
}
@media screen and (min-width: 1024px) {
  .about__description,
.skills__description {
    font-size: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .about__description,
.skills__description {
    font-size: 38px;
  }
}
@media screen and (min-width: 2560px) {
  .about__description,
.skills__description {
    font-size: 70px;
  }
}

.skills__description {
  display: grid;
  padding-top: 10%;
  grid-template-columns: repeat(2, auto);
  font-weight: 300;
  min-height: 100vh;
}
.skills__description .skills__item {
  font-family: AvenirRoman, sans-serif;
  justify-self: center;
  font-size: 35px;
}
@media screen and (min-width: 1024px) {
  .skills__description .skills__item {
    font-size: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .skills__description .skills__item {
    font-size: 40px;
  }
}
@media screen and (min-width: 2560px) {
  .skills__description .skills__item {
    font-size: 70px;
  }
}

.contacts {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.contacts__title {
  left: 0;
  right: 100%;
}

.contacts__description {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding-top: 20%;
}

.contacts__link {
  width: 256px;
  height: 256px;
}
.contacts__link img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=Home.css.map */
